<h1>New Mission 🚀 </h1>

<% if flash[:mission_errors] %>
  <ul>
    <% flash[:mission_errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @mission do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :scientist %>
  <%= f.collection_select :scientist_id, Scientist.all, :id, :name, prompt: true %>
  <br>
  <br>
  <%= f.label :planet %>
  <%= f.collection_select :planet_id, Planet.all, :id, :name, prompt: true %>
  <br>
  <br>
  <%= f.submit %>
<% end %>